a:hover{
    text-decoration: none;
}
.category-list li{
    margin: 5px;
}
.logo{
    display: inline;
    height: 39px;
}
.header-name{
    margin: 0px;
}
.glyphicon-shopping-cart{
    font-size: 25px;
}
